@import 'tailwindcss';

#root {
  @apply min-h-screen max-h-screen flex flex-col font-display font-normal text-base leading-4 text-[#192646];
}

@theme {
  --font-display: 'Mulish', 'sans-serif';
  --radius-5xl: 4rem;
  --breakpoint-ls: 32rem;
  --breakpoint-3xl: 105rem;
  --breakpoint-1xs: 53rem;
}

@utility scrollbar-none {
  scrollbar-width: none;
}

button,
svg,
h1,
h2,
h3 {
  cursor: pointer;
}

button:hover,
svg:hover,
h1:hover,
h2:hover,
h3:hover {
  color: blue;
}

a:hover {
  font-weight: 700;
}

.switch::before {
  position: absolute;
  content: '';
  background: #2196f3;
  width: 24px;
  height: 24px;
  border: 2px solid #2196f3;
  border-radius: 1rem;
  top: 2px;
  right: 2px;
  box-shadow: 0px 1px 1px 0px #0000003d;
}

@media (width <= 40rem) {
  .switch::before {
    position: absolute;
    content: '';
    background: #2196f3;
    width: 1rem;
    height: 1rem;
    border: 0.5px solid #2196f3;
    border-radius: 1rem;
    top: 1.36px;
    right: 1.36px;
    box-shadow: 0px 1px 1px 0px #0000003d;
  }
}
